<mat-card [class.selected-mat-card]="selected">
    <mat-card-header>
        <img *ngIf="answer?.image" mat-card-avatar src="{{answer?.image}}" />
        <mat-card-title>{{answer?.title}}</mat-card-title>
        <!-- <mat-card-subtitle>Answer</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <p>ID: {{answer?.id}}</p>
        <p>Name: {{answer?.description}}</p>
        <p>Created: {{answer?.createdDate | date}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <!-- TODO fix event propagation. Event should be storpped after routing/ -->
        <button mat-icon-button color="prime" mat-button [routerLink]="['edit', answer?.id]"><mat-icon>edit</mat-icon></button>
        <!-- <button type="button" mat-icon-button color="warn" (click)="onRemoveClick(+answer?.id)"><mat-icon>delete</mat-icon></button> -->
    </mat-card-actions>
</mat-card>
